.section-blog-post {
    background-color: rgb(237, 241, 241);
    border-radius: 10px;
    padding: 20px;
}

.write {
    margin-top: 20px;
    /* display: flex; */
    gap: 20px;
}

.content{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.editorContainer {
    height: 300px;
    overflow: scroll;
    border: 1px solid lightgray;
}

.editor {
    height: 100%;
    border: none;
}

.menu{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    border: 1px solid lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}


/* WEB */
@media screen and ( min-width: 968px) {
    .section-blog-post {
        background-color: rgb(237, 241, 241);
        border-radius: 10px;
        padding: 20px;
        margin: 0 200px 0 200px;
    }

}